<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Contact US</h1>
          <p class="text-center sub-heading">We Will Be HaPpY To HelP YoU</p>
<form action="/contact" method="POST" >
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">NAME</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name" name="NAME">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" placeholder="Email" id="exampleInputPassword1" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone No</label>
    <input type="phone" class="form-control" placeholder="Phone" id="exampleInputPassword1" name="phone">
     <div id="emailHelp" class="form-text">We'll never share your Contact with anyone else.</div>
  </div>
   <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Message</label>
    <input type="message" class="form-control" placeholder="Message" id="exampleInputPassword1" name="message">
  </div>
  <button type="submit" class="btn1 btn-primary1">Submit</button>
</form>
</div>
</div>
</div>
