<div class="container-fluid mt-5 about-style" id="mapid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Find US</h1>
          <p class="text-center sub-heading">Grow With Us</p>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3403.1882946146948!2d74.4426299!3d31.464006100000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391908dd6138ade3%3A0xa6cc469044e1fbc1!2sLahore%20Garrison%20University.!5e0!3m2!1sen!2s!4v1631628182364!5m2!1sen!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</div>
</div>
</div>
